@using Proyecto_Desarrollo_Web.Models.ViewModel;
@model UsuarioVm
@{
    ViewData["Title"] = "Index";
}

<div class="row-6">

    @if (!string.IsNullOrEmpty(@ViewBag.Error))
    {
        <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
            <strong> @ViewBag.Error</strong>
        </div>
    }
    <div class="main">

        <div class="login">
            <div class="inset">
                <form method="post" asp-action="Index">
                    <div>
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger" t></span>
                    </div>
                    <br />
                    <div class="sign">
                        <div class="submit">
                            <input type="submit" value="Iniciar Sesión" />
                        </div>
                        <div class="clear"><br /><br /></div>
                    </div>
                    <div>
                        @Html.ActionLink("Olvidaste tu password?","StartRecovery")
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
