 @using Proyecto_Desarrollo_Web.Models.ViewModel;
@using Microsoft.AspNetCore.Http;
@using Proyecto_Desarrollo_Web.Models.ViewModel;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor;
@model ModulosRolesVm
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<div class="container">
    <div class="row">
        <form method="post" asp-action="Editar">
            <div class="row">
                <div class="danger">
                    @if (TempData["mensaje"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <p>@TempData["mensaje"]</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                </div>
            </div>
            <div class="form-group">
                <label for="ModuloId" nam class="control-label">Modulo</label>
                @Html.DropDownList("ModuloId",Model.modulo,"Seleccione Modulo", new{@class="form-control"})
            </div>

            <div class="form-group">
                <label for="RolId" nam class="control-label">Rol</label>
                @Html.DropDownList("RolId",Model.rol,"Seleccione Modulo", new{@class="form-control"})
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn-success" />

            </div>


        </form>
    </div>

</div>
