@using Proyecto_Desarrollo_Web.Models.ViewModel;
@model UsuarioVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row-6">

    @if (!string.IsNullOrEmpty(@ViewBag.Error))
    {
        <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
            <strong> @ViewBag.Error</strong>
        </div>
    }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Loginstyle.css"/>
</head>
    <body>
        <div class="login">
                <form method="post" asp-action="Index">
                    <h1>Login Usuario</h1>
                    <div class="text">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="text">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger" t></span>
                    </div>
                    <br />
                    <div class="sign">
                        <div class="submit">
                            <input type="submit" value="Iniciar Sesión" />
                        </div>
                        <div class="clear"><br /><br /></div>
                    </div>
                    <div class="recovery">
                        @Html.ActionLink("Olvidaste tu password?","StartRecovery","Access")
                    </div>

                </form>
            </div>
     </body>
</div>
